<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myapp</string>
			</array>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://github.com/DaNoob8157/Apple-Music-Cracked-Edition/releases/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>YOUR_PUBLIC_EDDSA_KEY_HERE</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
